<IfModule mod_rewrite.c>
  RewriteEngine On

  # Se o arquivo OU pasta existir, entrega ele (js/css/txt/img etc.)
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Se não existir, redireciona para index.html (React Router)
  RewriteRule ^ index.html [L]
</IfModule>